<center>
    <h1>TESTING PROJECTS</h1>
</center>

<div class="row">
    <div class="col-md-4">
        <center>
            <h3>Bike Parking</h3><small> in San Francisco</small>
        </center>
        <a href="http://thatsedrich.github.io/project-app/"><img src="" alt="..." class="img-thumbnail"></a>
    </div>
    <div class="col-md-4">
        <a href=""><img src="" alt="..." class="img-thumbnail"></a>
    </div>
    <div class="col-md-4">
        <a href=""><img src="" alt="..." class="img-thumbnail"></a>
    </div>
</div>
