<center>
    <h1>PROJECTS</h1>
</center>

<div class="row">
    <div class="col-md-4" ng-repeat="project in projects">
        <center>
            <h3>Bike Parking</h3><small> in San Francisco</small><br>
            <a href="http://thatsedrich.github.io/project-app/"><img src="http://i.imgur.com/vKjfqPlb.jpg" alt="..." class="img-thumbnail"></a>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h3>Fight Matching</h3><small> for kickboxing and MMA</small><br>
            <a href="https://limitless-mesa-89502.herokuapp.com/"><img src="http://i.imgur.com/CViH3zYb.png" alt="..." class="img-thumbnail"></a>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h3>PoliTweet</h3><small> to follow the 2016 presidential candidates</small><br>
            <a href="http://poli-tweet.herokuapp.com/#/"><img src="http://i.imgur.com/0ha02FCb.png" alt="..." class="img-thumbnail"></a>
        </center>
    </div>
</div>
