<center>
    <h1>TESTING PROJECTS</h1>
</center>

<div class="row">
    <div class="col-md-4">
        <center>
            <h3>Bike Parking</h3><small> in San Francisco</small>
        </center>
        <a href="http://thatsedrich.github.io/project-app/"><img src="" alt="..." class="img-thumbnail"></a>
    </div>
    <div class="col-md-4">
        <center>
            <h3>Fight Matching</h3><small> for kickboxing and MMA</small>
        </center>
        <a href="https://limitless-mesa-89502.herokuapp.com/"><img src="" alt="..." class="img-thumbnail"></a>
    </div>
    <div class="col-md-4">
        <center>
            <h3>PoliTweet</h3><small> to follow the 2016 presidential candidates</small>
        </center>
        <a href="http://poli-tweet.herokuapp.com/#/"><img src="" alt="..." class="img-thumbnail"></a>
    </div>
</div>
